<main>
  <h1>{{ name }}</h1>
  <p>
    This is a VYZE view template based on Angular.
  </p>

  <section>
    <div *ngIf="vyze.universe">
      <h2>Universe: {{ vyze.universe.name }}</h2>
      <p>
        {{ vyze.universe.description }}
      </p>
      <h3>Models</h3>
      <ul>
        <li *ngFor="let model of vyze.universe.models.array">
          <strong>{{ model.name }}</strong>, {{ model.description }}
        </li>
      </ul>
    </div>
    <div *ngIf="vyze.universe === undefined">
      Loading universe...
    </div>
  </section>

  <section>
    <h2>Next steps</h2>
    <ul>
      <li>Add new components via <code>ng g component MyComponent</code>.</li>
      <li>Use the system, stream and service clients to use the VYZE database. They can be accessed via the <code>VyzeService</code>, e.g. <code>this.vyze.system.createObject(...)</code>.</li>
      <li>Check the tutorials and documentation on the <a href="https://vyze.io">VYZE website</a>.</li>
    </ul>
  </section>
</main>
